body {
    color: white;
    font-size: 21px;
}

.game {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.showChoices {
    display: flex;
    gap: 20px;
    padding-top: 30px;
    font-size: 40px;

}

button {
    font-size: 20px;
}

.hidden-div{
    display: none;
}

.visible-div {
    display: flex;
    justify-content: center;
}


.totalScore {
    display: flex;
    gap: 5px;
    padding: 40px 0 40px 0;
    font-size: 30px;

}